//- 2 click sort order
mixin sortIcon(data)
  span(class="fa fa-sort #{data.class} ml0 cpointer"
        ng-click="#{data.fieldOrderModel} = '#{data.field}' ; #{data.sortOrderModel} = !#{data.sortOrderModel}")

mixin sortAscIcon(data)
  - data.class = data.class || '';
  span( class="fa fa-sort-asc #{data.class} ml0 cpointer",
        ng-click="#{data.fieldOrderModel} = '#{data.field}' ; #{data.sortOrderModel} = true")

mixin sortDescIcon(data)
  - data.class = data.class || '';
  span( class="fa fa-sort-desc #{data.class} ml-2 cpointer",
        ng-click="#{data.fieldOrderModel} = '#{data.field}' ; #{data.sortOrderModel} = false")

//- http://l-lin.github.io/angular-datatables/#/zeroConfig
mixin angularTables(tableId)
  - var table = util.setTableDefaults(tableId);
  - // console.log('\n\n\n\n\n\n\nthe current table data is ', table.cols);

  - var itemName = (itemName) ? itemName : 'cell';
  - var ngModelCur, cssClass, col = '';
  //- Where the columns info is stored
  - var columns = gData.tablesColumns;

  //- table class make the table boostrap styles
  //-h ttp://getbootstrap.com/css/#tables
  table(
    datatable="",
    class="table  table-striped table-bordered table-hover"
  )
    thead
      tr
        each colsInstance, i in table.colsInstances
          - col = columns[colsInstance];
          - var translate = (col.header !== '') ? 'translate' : false;
          th(ng-show=col.ngShow)
            span(translate=translate)=col.header
            if col.sortable
              - sortObj = {'field': col.field, 'sortOrderModel': table.sortOrder, 'fieldOrderModel': table.fieldOrder};
              +sortIcon(sortObj)
    tbody
      tr( ng-repeat="item in main.items.#{tableId} | orderBy:main.is.filter.fieldOrder:main.is.filter.sortOrder "
          )
        each colsInstance, i in table.colsInstances
          - col = columns[colsInstance];
          - cssClass = (col.textAlign) ? "text-" + col.textAlign : '';

          if !col.actionsButtons && !col.rawHtml
            //- Normal item
            td(
              ng-bind!="#{table.listItem}.#{col.field}",
              class=cssClass,
              ng-show=col.ngShow)
          else if col.actionsButtons
            //- Action items
            td(ng-show=col.ngShow)
              each btn, i in col.actionsButtons
                div(class="#{gData.settings.buttons[btn.id].icon} #{btn.class}",
                    ng-click=btn.ngClick,
                    ng-show=btn.ngShow,
                    ng-hide=btn.ngHide,
                    title=gData.settings.buttons[btn.id].label)

          else if col.rawHtml
            //- Raw html item
            td!=col.rawHtml
