mixin listsWrapper(listId)
  - var list = util.setListDefaults(listId);
  - var listClass = list.class || '';
  ul(class="list-#{listId} list list-unstyled #{listClass} ui-angular-lists")
    block

mixin toolbarButton(btnId, buttonClass)
  - var btnObj = util.setButtonsDefaults(btnId);
  - buttonClass = buttonClass || '' ;
  - btnObj.title = btnObj.title || btnObj.label;
  if ( btnObj.type )
    li(ng-if="#{btnObj.type} === dropdownAddTask")
      +dropdownAddTaskButton(btnObj)
  else 
    li( class='cpointer btn btn-fit-height #{buttonClass} #{btnObj.class}',
        ui-sref=btnObj.uiSref,
        ng-click=btnObj.ngClick,
        ng-show=btnObj.ngShow,
        ng-class=btnObj.ngClass,
        ng-hide=btnObj.ngHide,
        ng-if="#{btnObj.type} !== 'dropdownAddTask'")
      i(class=btnObj.icon)
      if (btnObj.label)
        span(title=btnObj.title, translate)=btnObj.label

//- list of buttons : toolbar
mixin toolbarLists(listId)
  - var list = util.setListDefaults(listId);
  - var buttonClass = list.buttonClass || '';
  +listsWrapper(listId)
    if list.buttonsInstances
      each btnId in list.buttonsInstances
        +toolbarButton(btnId, buttonClass)

//- Angular ngRepeat based nestable lists
mixin angularLists(listId)
  -// console.log('asking for list ' + listId);
  - var list = util.setListDefaults(listId);
  if(list)
    - var listClass = list.class || '';
    - var buttonClass = list.buttonClass || '';
    - list.tooltip = list.tooltip || {};
    //- Value has priority on ngBind
    - var ngRepeatValue = (list.value) ? '{{ ' + list.value + ' }}' : '';
    - var ngBind = (list.ngBind && !list.value) ? list.ngBind: null;
    - var buttons = gData.buttons

    ul(class="list-#{listId} list list-unstyled #{listClass} ui-angular-lists")

      //- List of buttons
      //- @todo probably better as an independant mixins
      if list.buttonsInstances
        //- Special type of list : the toolbars (a list of icons)
        each btnId in list.buttonsInstances
          - var btnObj = buttons[btnId];
          li( class='cpointer btn btn-fit-height #{buttonClass}',
              ui-sref=btnObj.uiSref,
              ng-click=btnObj.ngClick,
              ng-show=btnObj.ngShow)
            i(class=btnObj.icon)
            if (btnObj.label)
              span(title=btnObj.title)=btnObj.label

      else if list.groupBy
        li(ng-repeat="(key, value) in #{list.ngRepeatItems} | countBy:'#{list.groupBy}'")
          span {{ key }} ({{ value }})

          li(ng-repeat="item in value | concat:array track by $index")
            a(ui-sref=list.uiSref) {{ value }}
            span(
              tooltip-placement=list.tooltip.position,
              tooltip=list.tooltip.value) {{ item }}

      else
        //- common list display
        +defaultTextngRepeat(list, list.ngRepeatItems)
        - var item = list.item || 'item'
        li(ng-repeat='#{item} in #{list.ngRepeatItems} track by $index')
          if (list.uiSref)
            a(ui-sref=list.uiSref)
              span(
                tooltip-placement=list.tooltip.position,
                tooltip=list.tooltip.value,
                ng-bind=ngBind)=ngRepeatValue
          else
            span(
              tooltip-placement=list.tooltip.position,
              tooltip=list.tooltip.value,
              ng-bind=ngBind)=ngRepeatValue

          if (list.actionsButtons)
            span #{list.actionsButtons.text}
            each btn, i in list.actionsButtons
              if gData.buttons[btn.id]
                a(  class="#{btn.class}",
                    ng-click=btn.ngClick,
                    ng-show=btn.ngShow,
                    ng-hide=btn.ngHide,
                    ui-sref=btn.uiSref,
                    title=gData.buttons[btn.id].label)
                  span(class=gData.buttons[btn.id].icon)

          if (list.listInstance)
            // sub list : another listInstance
            +angularLists(list.listInstance.id)

        if (list.ngRepeatEnd)
          li(ng-repeat-end,ng-show=list.ngRepeatEnd.ngShow)
            //span(ng-bind="item.id")
            a(ui-sref=list.ngRepeatEnd.uiSref,
              class="#{list.ngRepeatEnd.class}",
              translate) #{list.ngRepeatEnd.text}
