mixin fieldGroup(field)
  - field = field || {};
  - field.css = field.css || {};
  - field.class = field.class || '';
  - field.style = field.style || null;
  - var optClasses =+ (field.multiple) ? ' multiple ' : '';
  - var wrapperCustomAttributes = field.wrapperCustomAttributes || {};

  div(
      class="form-group #{field.css.group} #{field.class}",
      style=field.style,
      ng-class!="{ 'has-error' : #{field.id}.$invalid && !#{field.id}.$pristine }",
      ng-show!=field.ngShow,
      ng-hide=field.ngHide
      )&attributes(wrapperCustomAttributes)

    //- field label
    label(for=field.id, class="field-label #{field.width.label}")
      span=field.label
      if (field.tooltip)
        +mdTooltip(field.tooltip)(class="m-l-xs")

    //- field main tag
    div(class="field-tag #{field.width.tag}")
      block

    //- field suffix
    div(class="field-suffix #{field.width.suffix} text-left")=field.suffix

    //- field errors
    if (field.errors && field.errorsInstances || field.required || field.ngMinlength || field.ngMaxlength)
      +errorNgMessages(field)