mixin fieldLabelCommon(field)
  - var label = (field.type === 'submit') ? '' : field.label;
  - label = (!_.isString(label)) ? '' : label;
  label(for=field.id, class="field-label #{field.width.label}")&attributes(attributes)
    span=label
    block

//- a field object
//- tooltipType: 'twbs' or 'md'
mixin fieldLabel(field, tooltipType)
  -// console.log('\n\nfield label ', field, tooltipType);
  if (tooltipType === 'twbs')
    - field.tooltipOptionDefault = { placement: 'right', popupDelay: 500 };
    - field.tooltipOptions = field.tooltipOptions || field.tooltipOptionDefault;
    +fieldLabelCommon(field)(
      uib-tooltip=field.tooltip,
      uib-tooltip-popup-delay=field.tooltipOptions.popupDelay,
      tooltip-placement=field.tooltipOptions.placement)
      i(class="m-l-xs fa fa-question-circle")

  else if (tooltipType === 'md')
    +fieldLabelCommon(field)
    +mdTooltip

  else
    +fieldLabelCommon(field)

//- links to edit the field or more
mixin fieldlinks(data)
  - data = data || [];
  div(class="field-links")
    each link in data
      - var iconClass = link.icon || '';
      a(
        class="inline",
        ui-sref=link.uiSref,
        ng-href=link.ngHref,
        ng-click=link.ngClick,
        uib-tooltip=link.tooltip,
        ng-hide=link.ngHide,
        ui-sref-opts="{inherit: false}",
      )
        if (link.icon)
          i(class="#{iconClass} m-r-xs")
        span=link.label

mixin fieldGroup(field)
  - field = field || {};
  - field.css = field.css || {};
  - field.class = field.class || '';
  - field.style = field.style || null;
  - field.width = field.width || {};
  - var optClasses =+ (field.multiple) ? ' multiple ' : '';
  - var wrapperCustomAttributes = field.wrapperCustomAttributes || {};

  //- errors display if 
  //- the field is unvalid 
  //- have beend touched (to prevent to display an error on required field at form start)
  //- or have already a value  (to display errors on previously saved forms)
  div(
      class="form-group #{field.css.group} #{field.class} field-#{field.id}",
      style=field.style,
      ng-class!="{ 'has-error' : #{field.formId}.#{field.id}.$invalid && (!#{field.formId}.#{field.id}.$pristine || #{field.formId}.#{field.id}.$modelValue.length > 0) }",
      ng-show!=field.ngShow,
      ng-hide=field.ngHide
      )&attributes(wrapperCustomAttributes)

    //- field label
    if (field.label)
      if field.tooltip
        if (field.tooltipType === 'md')
          //- with angular material version
          +fieldLabel(field, 'md')

        else
          //- with twitter boostrap version
          +fieldLabel(field, 'twbs')

      else
        //- without tooltip
        +fieldLabel(field)

    //- field main html tag
    div(class="field-tag #{field.width.tag}")
      block

    //- field suffix (unites, prices currency....)
    if (field.suffix || field.links)
      div(class="field-suffix #{field.width.suffix} text-left")

        if field.suffix
          span=field.suffix

        if field.links
          +fieldlinks(field.links)

    //- console.log(field.errors && field.errorsInstances);
    div(class="field-errors")
      - console.log('\n\n the errors are ', field.errors, field.errorsInstances);
      //- field errors : display validation errors for this field
      if (field.errorsInstances || field.required || field.ngMinlength || field.ngMaxlength)
        +errorNgMessages(field)