mixin datepicker(formId, fieldId, stateId)
  - var field = util.setFieldDefaults(formId, fieldId, stateId);
  - var form = util.setFormDefaults(formId, stateId);
  - field.ngModel = util.setDefaultNgModel(field, form);
  - //- as date format is required to have the widget show
  - //- we set a default value
  - field.dateFormat = field.dateFormat || 'dd-MM-yyyy';
  +fieldGroup(field)
    if field.label.display
      label(for=field.id, class="col-xs-3")=field.placeholder
      div(class="col-xs-9")
        +datePickerTag(form, field)
    else
      +datePickerTag(form, field)

mixin datePickerTag(form, field)
  p(class="input-group datepickerTag")
    input(
      type="text",
      class="form-control",
      datepicker-popup=field.dateFormat,
      ng-model=field.ngModel,
      is-open="Opened",
      min-date=field.minDate,
      max-date=field.maxDate,
      datepicker-options="dateOptions",
      ng-change=field.ngChange,
      ng-disabled=field.ngDisabled,
      ng-required="true",
      close-text="Close")
    span(class="input-group-btn")
      button(type="button",
            class="btn btn-default",
            ng-disabled=field.ngDisabled,
            ng-click="Opened=!Opened;$event.stopPropagation();"
            )
        i(class="glyphicon glyphicon-calendar")

//- simple image uploader
mixin imageUploadWidget(field)
  if field
    input(  class="",
            type="file",
            name=field.id,
            accept="image/*",
            ng-file-select,
            ng-file-change=field.ngFileChange,
            ng-model=field.ngModelField)=field.submit.label

//- Generic link
mixin link(link)
  if link
    - var translate = (link.translate) ? link.translate : true;
    a(
        href=link.href,
        ng-href=link.nghref,
        ui-sref=link.uiSref,
        ng-click=link.ngClick,
        translate=translate
    )=link.text
