mixin fieldGroup(field)
  - field = field || {};
  - field.css = field.css || {};
  - field.class = field.class || '';
  - field.style = field.style || null;
  - field.width = field.width || {};
  - var optClasses =+ (field.multiple) ? ' multiple ' : '';
  - var wrapperCustomAttributes = field.wrapperCustomAttributes || {};

  div(
      class="form-group #{field.css.group} #{field.class}",
      style=field.style,
      ng-class!="{ 'has-error' : #{field.id}.$invalid && !#{field.id}.$pristine }",
      ng-show!=field.ngShow,
      ng-hide=field.ngHide
      )&attributes(wrapperCustomAttributes)

    //- field label
    if (field.label)
      //- submit field need to be aligned with main tag
      //- and cannot have label
      if (field.type !== 'submit')
        label(for=field.id, class="field-label #{field.width.label}")
          span=field.label

          //- tooltip to explain the purpose of the field
          if (field.tooltip)
            if (field.tooltipType && field.tooltipType === 'md')
              //- set an option to have twbs tooltip or material design
              +mdTooltip(field.tooltip)(class="m-l-xs")
            else
              - field.tooltipOptionDefault = { placement: 'right', popupDelay: 500 };
              - field.tooltipOptions = field.tooltipOptions || field.tooltipOptionDefault;
              +twbsTooltip(field.tooltip, field.tooltipOptions)(class="m-l-xs")

    //- field main html tag
    div(class="field-tag #{field.width.tag}")
      block

    //- field suffix (unites, prices currency....)
    if (field.suffix)
      div(class="field-suffix #{field.width.suffix} text-left")=field.suffix

    - console.log(field.errors && field.errorsInstances);
    //- we display the field-errors zone always so that the layout don't move when the errors are displayed
    div(class="field-errors")
      //- field errors : display validation errors for this field
      if (field.errors && field.errorsInstances || field.required || field.ngMinlength || field.ngMaxlength)
        +errorNgMessages(field)