mixin fieldGroup(field)
  - field = field || {};
  - field.css = field.css || {};
  - field.class = field.class || '';
  - field.style = field.style || null;
  - field.width = field.width || {};
  - var optClasses =+ (field.multiple) ? ' multiple ' : '';
  - var wrapperCustomAttributes = field.wrapperCustomAttributes || {};

  div(
      class="form-group #{field.css.group} #{field.class}",
      style=field.style,
      ng-class!="{ 'has-error' : #{field.id}.$invalid && !#{field.id}.$pristine }",
      ng-show!=field.ngShow,
      ng-hide=field.ngHide
      )&attributes(wrapperCustomAttributes)

    //- field label
    if (field.label)
      label(for=field.id, class="field-label #{field.width.label}")
        //- submit field need to be aligned with main tag
        //- and cannot have label
        if (field.type !== 'submit')
          span=field.label
          if (field.tooltip)
            if (field.tooltipType && field.tooltipType === 'md')
              //- set an option to have twbs tooltip or material design
              +mdTooltip(field.tooltip)(class="m-l-xs")
            else
              +twbsTooltip(field.tooltip)(class="m-l-xs")

    //- field main html tag
    div(class="field-tag #{field.width.tag}")
      block

    //- field suffix (unites, prices currency....)
    if (field.suffix)
      div(class="field-suffix #{field.width.suffix} text-left")=field.suffix

    //- field errors : display validation errors for this field
    if (field.errors && field.errorsInstances || field.required || field.ngMinlength || field.ngMaxlength)
      +errorNgMessages(field)