//- errorsInstances Store the message id 
//- errors store the message to be show per instance type 
//- errorsInstances:
//-       - 'minlength'
//-       - 'maxlength'
//-     errors:
//-       minlength: "The password is too short."
//-       minlength: "The password is too long."

//- Errors messages using the ngMessages directives
//- https://docs.angularjs.org/api/ngMessages
mixin errorNgMessages(field)
  - console.log('THE ERRORS ')
  - var errors = util.setFieldErrors(field)
  - console.log('\n\n the errors are ', errors);
  //- we display message only if the form has been used $dirty property
  div(ng-messages="#{field.formId}.#{field.id}.$error",
      class="m-t-xs",
      ng-if='#{field.formId}.#{field.id}.$dirty')
    if errors
      each errorMsg, errorId in errors
        div(ng-message=errorId, class="m-t-xs")=errorMsg
