mixin formTag(form, stateId)
  - form.ngModelAppend = form.ngModelAppend || '';
  form(
      name="#{stateId}",
      ng-submit="#{form.ngSubmit}(#{stateId}, #{form.ngModel} #{form.ngModelAppend})",
      novalidate)
    block

//- standard wrapper of a block element
//- don't use "block" as argument name
//- https://github.com/jadejs/jade/issues/1875
mixin blockWrapper(blockData)
  - //console.log("received in the wrapper ", blockData);
  div(class="block block-#{blockData.id} #{blockData.wrapperClass}")
    block

mixin separator
  div(class="separator")