//- on hover button
mixin editHoverBtn(config)
  div(class="edit-hover-btn",
      ng-mouseover="'btnDisplay = true'",
      ng-mouseout="'btnDisplay = false'",
      ng-click="edit.fn(edit.item)",
      ng-show="btnDisplay")
    i(class="fa fa-edit")

mixin angularParaBlock(data)
  div(ng-if="#{data.content.title} || #{data.content.body}")
    h4(ng-bind=data.content.title)
    p(ng-bind=data.content.body)
  span(ng-if="!#{data.content.title} && !#{data.content.body}", class="text-muted")
    i #{data.content.defaultTxt}
    if (data.content.defaultButton)
      +defaultButton(data.content.defaultButton)

//- Text to display when a ng-repeat is empty
//- used in tables and lists
mixin defaultTextngRepeat(data, condition)
  if data.defaultTxt
    span(ng-if='(#{condition}).length == 0', class="text-muted")
      i=data.defaultTxt
  if data.defaultButton
    +defaultButton(data)

mixin defaultButton(data)
  - var buttons = gData.buttons[data]

  button(class='#{buttons.class}', ng-show='#{buttons.ngShow}')
    i(class=buttons.icon)
    span(title=buttons.title)=buttons.label
