//- pageId: name of the page
//-   title: "title of the page"
//-   subtitle: "subtitle of the page"
//-   parent: ""
//-   favorites:
//-     icon: ""
//-     ngClick: action to be triggered to favorite

mixin pageWrapperHeader
  div(class="page-header")
    block

mixin pageHeaderBar(data)
  if data
    div(class="page-bar")
      +breadcrumb(data.breadcrumb)
      div(class="page-toolbar")
        +toolbar('toolbar')
    div(class='headline')
      h3(ng-bind=data.subtitle)

//- repetitible page element
//- portlet are a metronic theme class
//- portlet or pageBLock is similar to twbs panels
mixin pageBlock(data)
  if data
    div(class="m1 block-#{data.id} portlet light")
      if data.title || data.toolbar
        div(class="portlet-title")

          //- title of the block
          if (data.title || data.ngBind)
            div(class="caption")
              h3(class=data.titleClass, ng-bind=data.ngBind)=data.title

          //- top of the block toolbars (buttons)
          if data.toolbar
            div(class="actions")
              - data.itemType = data.itemType || null;
              +toolbar(data.toolbar, data.itemType)
      div(class="portlet-body")
        block

mixin pageTitle(data)
  - console.log(data);
  if data
    h1(class='page-title', ng-bind=data.ngBind)=data.title

mixin pageDynamicTitle(data)
  h1(class='page-title', ng-bind=data)

mixin pageHeader(data)
  //+pageWrapper
  +pageWrapperHeader
    +pageTitle(data.header)
