mixin pageBlockText(data)
  h3(class=data.titleClass, ng-bind=data.ngBind, translate)=data.title

mixin anchorLink(data)
  if data.id
    - data.scrollId = (data.idType === 'bind') ? '{{' + data.id + '}}' : "'" + data.id + "'";
    - data.attrId = (data.idType === 'bind') ? '{{' + data.id + '}}' : data.id;
    - data.attrHtmlId = (data.idType === 'bind') ? false : data.id;
    a(ng-click="scrollTo(#{data.scrollId})",
      ng-attr-id=data.attrId,
      anchor-link,
      id=data.attrHtmlId)
      block

//- repetitible page element
//- portlet are a metronic theme class
//- portlet or pageBLock is similar to twbs panels
mixin pageBlock(data)
  if data
    - var anchor = data.anchorId || '';
    div(id="#{anchor}",
      class="mb1 block-#{data.id} portlet light")
      if data.title || data.toolbar
        div(class="portlet-title")

          //- title of the block
          if (data.title || data.ngBind)
            div(class="caption")
              //- anchor links allow to scroll in the page (github style)
              if data.anchorLink
                +anchorLink(data.anchorLink)
                  +pageBlockText(data)
              else
                +pageBlockText(data)

          //- top of the block toolbars (buttons)
          if data.toolbar
            div(class="actions")
              - data.itemType = data.itemType || null;
              +toolbar(data.toolbar, data.itemType)
      div(class="portlet-body")
        block

mixin pageTitle(data)
  if data
    h1(class='page-title', ng-bind=data.ngBind, translate)=data.title

mixin pageSubtitle(data)
  if data
    h3(class='page-subtitle', translate)=data.subtitle

mixin pageDynamicSubtitle(data)
  if data
    h2(class='page-subtitle', ng-bind=data.subtitle)

mixin pageDynamicTitle(data)
  h1(class='page-title', ng-bind=data)

mixin pageWrapperHeader
  div(class="page-header clearfix")
    block

mixin pageHeaderBar(data)
  if data
    - var toolbar = data.toolbar || 'toolbar'
    div(class="page-bar")
      div(class="page-toolbar")
        +toolbar(toolbar)
      +breadcrumb(data.breadcrumb)
    div(class='headline')
      h3(ng-bind=data.subtitle)

mixin pageHeader(data)
  +pageWrapperHeader
    +pageTitle(data.header)
    +pageSubtitle(data.header)
