//- Bootstrap UI modal

//- http://angular-ui.github.io/bootstrap/#/dropdown

//- Yaml data configuration
//-
  dropdownExample:
    visibleItem:
      icon: "fa fa-building-o" # an icon at the left side of the link
      ngBind:
    dropdownItems:
      ngRepeat: # name of the data variable to ngRepeat
      ngBind: "" # the angular data / The data available in a ngRepeat scope
      # optional properties
      ngHref:
      sRef
      ...

//- version with a button that make link and a caret to toggle the dropdown open
mixin twbsDropdowns(data)
  - var wrapperClass = data.wrapperClass || '';
  if (data.visibleItem && data.dropdownItems)
    ul(class="#{wrapperClass}")
      li(class="btn-group ", dropdown)
        //- link to the visibleItem
        div(
          class="button btn btn-danger",
          type="button",
          ng-bind=data.visibleItem.ngBind)

          button( class="btn btn-danger dropdown-toggle",
                  type="button",
                  dropdown-toggle=""
                  ng-if='(#{data.dropdownItems.ngRepeat}).length > 1')
            span.caret
            //- for screen reader
            span.sr-only Split button!

          //- Dropdown items (listed with a new repeat)
          if (data.dropdownItems.ngBind  && data.dropdownItems.ngRepeat)
            ul(class="dropdown-menu", role="menu", ng-if='(#{data.dropdownItems.ngRepeat}).length > 1')
              li(ng-repeat="item in #{data.dropdownItems.ngRepeat}")
                a(
                  href="#",
                  ng-bind="item.#{data.dropdownItems.ngBind}",
                  ng-click=data.dropdownItems.ngClick)
