mixin imageTag(field)
  img(ng-if=field.ngIf,
      src=field.src,
      id=field.id,
      fullscreen=field.fullscreen,
      class="img-responsive")&attributes(attributes)

//- Image and uploader
//- use simple image uploader https://github.com/danialfarid/ng-file-upload
mixin imageField(formId, fieldId, stateId)
  - var field = util.setFieldDefaults(formId, fieldId, stateId);
  - var form = util.setFormDefaults(formId, stateId);
  - field.ngModelField = util.setDefaultNgModel(field, form);
  +fieldGroup(field)
    if field.fullscreen
      +imageTag(field)(fullscreen)
    else
      +imageTag(field)

    if field.ngIf
      //- upload an image
      //- http://jsfiddle.net/danialfarid/0mz6ff9o/135/
      - var ngIfOpposite = '!' + field.ngIf;
      - field.ngfMaxSize = field.ngfMaxSize || "5MB";
      - field.ngfSelect = field.ngfSelect || "uploadFiles($file, $invalidFiles)";
      - field.ngfLabel = field.ngfLabel || 'Upload an image';
      div(ng-if=ngIfOpposite, class="image-uploader")
        button( class="btn btn-default",
                type="file",
                ngf-select=field.ngfSelect,
                accept="image/*",
              )=field.ngfLabel

    //- re-upload an image to change it
    div(class="image-changer col-xs-12 m-t-xs")
      div(class="col-xs-2", tooltip="Change the image")
        i(class="fa fa-edit")
      div(class="col-xs-10")
        input(
          type="text",
          ng-model=field.ngIf,
          disabled="disabled",
          class="input-md form-control")
