//- generic field for textarea and text input field
//- http://www.html5rocks.com/en/tutorials/forms/html5forms/
//- https://docs.angularjs.org/api/ng/directive/ngPattern
mixin fieldInputTag(form, field)
  - var inputClass = form.inputsClass || '';
  - inputClass += field.inputsClass ? ' ' + field.inputsClass: '';
  input(  type=field.type,
          name=field.id,
          id=field.id
          placeholder=field.placeholder,

          step=field.step,
          min=field.min,
          max=field.max,

          ng-pattern=field.ngPattern,

          class='input-#{field.id} #{inputClass}',
          ng-model=field.ngModelField,
          ng-model-options=field.ngModelOptions,

          ng-minlength=field.ngMinlength,
          ng-maxlength=field.ngMaxlength,
          
          ng-bind=field.id,
          ng-show=field.ngShow,
          required=field.required,
          ng-change=field.ngChange,
          translate,
          ng-disabled=ngDisabled,
          disabled=field.disabled)&attributes(field.customAttributes)

//- Generic input field (types text, password, email...)
mixin fieldInput(formId, fieldId, stateId)
  - var field = util.setFieldDefaults(formId, fieldId, stateId);
  - var form = util.setFormDefaults(formId, stateId);
  - // The ng Model is automatically set if not defined
  - // and the attribute can be removed entirely if set to false (for fields that are read only (password Confirm...))
  - field.ngModelField = util.setDefaultNgModel(field, form);
  - field.ngModelFieldRepeater = util.setNgModel(field, form);
  - field.customAttributes = field.customAttributes || {};
  +fieldGroup(field)
    +fieldInputTag(form, field)
