mixin fieldInTable(field)
  case field.type
    when 'checkbox'
      +checkboxTable(field)

//- Reusable field type

//- @todo use @default with lodash to allow partial overrides of forms settings
- var fieldId = ""; //- unique identifier of the field


//- generic upload file
//- this file use the following angular lib
//- https://github.com/danialfarid/ng-file-upload
mixin avatarField(formId, stateId)
  - fieldId = "avatar";
  - var field = util.setFieldDefaults(formId, fieldId, stateId);
  - var form = util.setFormDefaults(formId, stateId);
  - field.ngModelField = util.setDefaultNgModel(field, form);
  - // console.log('\n The image upload file ', field, ' from form ' + formId + ' and fieldId ' + fieldId + ' and stateId ' + stateId);
  +fieldGroup(field)
    //- placeholder user icon when no user icon has been uploaded
    div(class="avatar-placeholder",
      ng-hide=field.placeholderImg.ngHide)
      i(class="fa fa-user fs5")

    div(class="mt0",
      ng-show=field.thumb.ngShow)
      img(
        class="img-responsive",
        ng-src=field.ngSrc)
  div(edit-hover-btn, edit-fn=field.edit.fn, edit-item=field.edit.item)
  +imageUploadWidget(field)
  //- on hover edit button > use a directive instead

//- basic html select list
//- http://www.undefinednull.com/2014/08/11/a-brief-walk-through-of-the-ng-options-in-angularjs/
//- choice.id as choice.name for choice in #{field.choices}
//- display choice.name but store as a model choice.id (eg lang.id)
mixin langFieldSimple(formId, stateId, fieldId)
  - fieldId = (fieldId) ? fieldId : 'lang';
  - var field = util.setFieldDefaults(formId, fieldId, stateId);
  +fieldGroup(field)
    ui-select(
      ng-model='modal.item.lang',
      ng-required=field.ngRequired,
      theme="bootstrap",
      disabled=field.disabled,
      ng-disabled=field.ngDisabled,
      reset-search-input="false")
      ui-select-match(placeholder="Select languages") {{$select.selected.name}}
      ui-select-choices(repeat='choice.id as choice in #{field.choices}')
          div(ng-bind='choice.name')

