mixin colTd(id, data)
  - data.class = data.class || '';
  td(class="cell-#{id} cell cell-body #{data.class}")&attributes(attributes)
    block

mixin colTh(id, data)
  - data.class = data.class || '';
  th(class="cell-#{id} cell cell-header #{data.class}")&attributes(attributes)
    block

mixin colTableHeadWrapper(data)
  //- https://github.com/daniel-nagy/fixed-table-header
  if data.theadFixed
    thead(fix-head)
      block
  else
    thead
      block

mixin colTableHead(data)
  +colTableHeadWrapper(data)
    tr(class="row-header")
      each row, id in data.cols
        //- If the sort id done through a callback from the server
        if (data.sortRemote)
          //- Allow to set an active class to current sorte header column
          - data.isCurrentSortNgClass = (data.sortRemote.isCurrentSort) ? "{'active': " + data.sortRemote.isCurrentSort + "('" + id + "')}" : false;
          +colTh(id, row)(class="c-pointer", ng-click="#{data.sortRemote.callback}(#{data.sortRemote.bind}, '#{id}')", ng-class=data.isCurrentSortNgClass)
            span=row.label
            if (data.sortRemote.bind)
              span( class="m-l-xs",
                    ng-class="{ 'fa fa-caret-up': #{data.sortRemote.bind}.#{id},'fa fa-caret-down': !#{data.sortRemote.bind}.#{id} }")


        else if (row.sort)
          +colTh(id, row)(st-sort=id)=row.label
        else
          +colTh(id, row)=row.label

    if (data.rows && data.rows.search)
      tr(class="row-search table-row")
        each row, id in data.cols
          if (row.search && id)
            +colTh(id, row)
              input.input-sm.form-control(st-search="'#{id}'", placeholder='#{row.label}', type='search')
          else
            +colTh(id, row)
              | &nbsp;

//- Cell content mixins
mixin cellLink(cell)
  a(ui-sref=cell.uiSref,
    ui-sref-opts=cell.uiSrefOpts,
    ng-href=cell.ngHref,
    ng-click=data.ngClick)&attributes(attributes)
    block

mixin cellText(id)
  span {{ row.#{id} }}

mixin cellImage(id)
  img(src="{{ row.#{id} }}")

mixin colTableBody(data)
  - data.data = data.data || 'table.rowCollection';
  tbody
    tr(class="row-body", ng-repeat='row in #{data.data}',
      ui-sref=data.uiSref,
      ui-sref-opts=data.uiSrefOpts,
      ng-href=data.ngHref,
      ng-click=data.ngClick,
      )
      each row, id in data.cols
        - var ngBind = row.ngBind || id;
        if row.type === 'image'
          //- The cell is an image
          +colTd(id, row)
            div(class="image-wrapper")
              if row.uiSref
                +cellLink(row)
                  +cellImage(ngBind)
              else
                +cellImage(ngBind)

        else if row.type === 'mixin' && row.mixin
          +colTd(id, row)
            +#{row.mixin}(row)

        else
          //- Basic type text
          +colTd(id, row)
            if row.uiSref
              +cellLink(row)
                +cellText(ngBind)
            else
              +cellText(ngBind)

mixin colTableFoot(data)
  tfoot
    tr
      td.text-center(colspan=data.rows.length)
        div(st-pagination='', st-items-by-page='25', st-displayed-pages='7')

mixin colTable(dataTable)
  - dataTable = dataTable || {};
  - if (dataTable.parent) { dataTable = util.setTableData(dataTable); }
  - dataTable.data = dataTable.data || 'table.rowCollection';
  +colMainContent(class="view-table")
    table.table.table-striped(st-table=dataTable.data)&attributes(attributes)
      +colTableHead(dataTable)
      +colTableBody(dataTable)
      +colTableFoot(dataTable)
